flows.json
[{"id":"a4b58694.dd7a08","type":"tab","label":"HFPM DASHBAORD","disabled":false,"info":""},{"id":"ddaf6701.3ffd98","type":"debug","z":"a4b58694.dd7a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":320,"wires":[]},{"id":"21769e48.4b87b2","type":"function","z":"a4b58694.dd7a08","name":"pre-token","func":"global.set(\"hb\",msg.payload.hb)\nglobal.set(\"ppd\",msg.payload.ppd)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"em\",msg.payload.em)\n\nvar apikey=\"yjzHt3C2X48EZ3TAfAMykbIgV0z0-6FOVE7gTPPQJkGS\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":160,"wires":[["1775fa.9dce3a06"]]},{"id":"1775fa.9dce3a06","type":"http request","z":"a4b58694.dd7a08","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":160,"wires":[["c1b55bc1.e78c38","34bd01eb.09e15e"]]},{"id":"c1b55bc1.e78c38","type":"debug","z":"a4b58694.dd7a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"34bd01eb.09e15e","type":"function","z":"a4b58694.dd7a08","name":"Pre Prediction","func":"var hb = global.get(\"hb\")\nvar ppd = global.get(\"ppd\")\nvar ch = global.get(\"ch\")\nvar bm = global.get(\"bm\")\nvar ag = global.get(\"ag\")\nvar s = global.get(\"s\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar em = global.get(\"em\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\n                \"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\n                \"values\":[[hb,ppd,ch,bm,ag,s,fh,sm,em]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":60,"wires":[["119647ca.2b3888"]]},{"id":"119647ca.2b3888","type":"http request","z":"a4b58694.dd7a08","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/11934_heart_attack/predictions?version=2022-07-23","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":730,"y":140,"wires":[["750758a0.e310c8","3cbb3720.1d3b78","7a3f7170.c6936"]]},{"id":"750758a0.e310c8","type":"debug","z":"a4b58694.dd7a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":140,"wires":[]},{"id":"5a3e627e.04601c","type":"inject","z":"a4b58694.dd7a08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["21769e48.4b87b2"]]},{"id":"e929f78c.388bb8","type":"debug","z":"a4b58694.dd7a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":60,"wires":[]},{"id":"3cbb3720.1d3b78","type":"function","z":"a4b58694.dd7a08","name":"Parsing","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.probablity = msg.payload.predictions[0].values[0][1][0];\n        msg.payload = 'Not at Risk';\n    }\nelse \n    {\n        msg.probability = msg.payload.predictions[0].values[0][1][1];\n        msg.payload = 'At Risk';\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":80,"wires":[["e929f78c.388bb8","ecc83872.c85c08"]]},{"id":"ecc83872.c85c08","type":"ui_text","z":"a4b58694.dd7a08","group":"80c2766c.ace4c8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":100,"wires":[]},{"id":"df6f8738.fbce68","type":"ui_form","z":"a4b58694.dd7a08","name":"","label":"","group":"80c2766c.ace4c8","order":1,"width":0,"height":0,"options":[{"label":"AVERAGE HEART BEATS ( Per Minute )","value":"hb","type":"number","required":true,"rows":null},{"label":" PALPITATIONS PER DAY","value":"ppd","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"ch","type":"number","required":true,"rows":null},{"label":"BMI","value":"bm","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX (M or F)","value":"s","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY (Y or N)","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKER ( In Last 5 Years : Y or N )","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISE ( Minutes Per Week )","value":"em","type":"number","required":true,"rows":null}],"formValue":{"hb":"","ppd":"","ch":"","bm":"","ag":"","s":"","fh":"","sm":"","em":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":110,"y":240,"wires":[["ddaf6701.3ffd98","21769e48.4b87b2"]]},{"id":"addbc880.c08138","type":"ui_text","z":"a4b58694.dd7a08","group":"80c2766c.ace4c8","order":2,"width":0,"height":0,"name":"","label":"Score","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":240,"wires":[]},{"id":"7871bbfa.db2964","type":"debug","z":"a4b58694.dd7a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"7a3f7170.c6936","type":"function","z":"a4b58694.dd7a08","name":"","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.payload = msg.payload.predictions[0].values[0][1][0]\n       \n    }\nelse \n    {\n        msg.paylaod = msg.payload.predictions[0].values[0][1][1]\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":220,"wires":[["7871bbfa.db2964","addbc880.c08138"]]},{"id":"80c2766c.ace4c8","type":"ui_group","name":"Default","tab":"547fcc14.7f90b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"547fcc14.7f90b4","type":"ui_tab","z":"a4b58694.dd7a08","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]